* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: 1px solid navy;
}

:root {
  font-size: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

*::-webkit-scrollbar {
  display: none;
}
