* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* border: 1px solid navy; */
  text-decoration: none;
}

:root {
  /* color */
  --default: var(--black);
  --hover: var(--white);
  --white: white;
  --gray-dark: gray;
  --gray: #b0b0b0;
  --black: black;
  --message: #2c3639;
  --nav: #3f4e4f;
  --accent: #f29727;
  --lightaccent: #f2ac55;
  --lightgray: #f9f9f9;
  --red: #b31312;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
} /* =14px */
h1 {
  font-size: 2.4rem;
} /* =24px */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--default);
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none;
}
